.hoge {
  font-size: 10px;
}

/* Autoprefixer */
.sample {
  display: grid;
}

/* Flexbugs */
.foo {
  flex: 1;
}

.bar {
  flex: 1 1;
}

.foz {
  flex: 1 1 0;
}

.baz {
  flex: 1 1 0;
}

// lint
a {
  margin: 0;
}
