<%
var pageTitle
%>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
    <% if(pageTitle)  { %>
        <%= pageTitle %> - 〇〇株式会社
    <% } else { %>
        〇〇株式会社
    <% } %>
    </title>
    <meta
        property="description"
        content="<%= config.description %>"
    >
    <meta
        property="author"
        content="<%= config.author %>"
    >
    <meta
        property="og:type"
        content="website"
    >
    <meta
        property="og:site_name"
        content="<%= config.title %>"
    >
    <meta
        property="og:description"
        content="<%= config.description %>"
    >
    <meta
        property="og:url"
        content="<%= config.publicPath %>"
    >
    <meta
        property="og:image"
        content="<%= config.publicPath %>/img/facebook.png"
    >
</head>